In [3]:
import pandas as pd
import os

In [4]:
curso_dir = 'C:\\Users\\tiagog\\Documents\\curso-python'
data_dir = curso_dir + '\\datacamp\\data_analyst\\data_mani_pandas'
os.chdir(data_dir)

In [5]:
temperatures = pd.read_csv('temperature_clean.csv')

In [6]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(['Country', 'City'])

In [7]:
# List of tuples: Brazil, Rio De Janeiro & Pakistan, Islamabad
rows_to_keep = [('Brazil', 'Rio de Janeiro'), ('Pakistan', 'Islamabad')]

In [8]:
# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

                         Unnamed: 0  Month  Day  Year  AvgTemperature  \
Country  City
Brazil   Rio de Janeiro     1293867      1    1  2000            76.3
         Rio de Janeiro     1293868      1    2  2000            75.3
         Rio de Janeiro     1293869      1    3  2000            73.3
         Rio de Janeiro     1293870      1    4  2000            79.2
         Rio de Janeiro     1293871      1    5  2000            80.1
...                             ...    ...  ...   ...             ...
Pakistan Islamabad           466644     12   27  2013            48.5
         Islamabad           466645     12   28  2013            48.6
         Islamabad           466646     12   29  2013            44.9
         Islamabad           466647     12   30  2013            46.9
         Islamabad           466648     12   31  2013            42.6

                               date
Country  City
Brazil   Rio de Janeiro  2000-01-01
         Rio de Janeiro  2000-01-02
         Rio de Janeiro  2000-01-03
         Rio de Janeiro  2000-01-04
         Rio de Janeiro  2000-01-05
...                             ...
Pakistan Islamabad       2013-12-27
         Islamabad       2013-12-28
         Islamabad       2013-12-29
         Islamabad       2013-12-30
         Islamabad       2013-12-31

[10228 rows x 6 columns]

In [9]:
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

                Unnamed: 0  Month  Day  Year  AvgTemperature        date
Country City
Albania Tirana      625203      1    1  2000           -99.0  2000-01-01
        Tirana      625204      1    2  2000            33.8  2000-01-02
        Tirana      625205      1    3  2000            35.6  2000-01-03
        Tirana      625206      1    4  2000            36.5  2000-01-04
        Tirana      625207      1    5  2000            37.4  2000-01-05
...                    ...    ...  ...   ...             ...         ...
Zambia  Lusaka      251091     12   27  2013            76.6  2013-12-27
        Lusaka      251092     12   28  2013            74.2  2013-12-28
        Lusaka      251093     12   29  2013            71.6  2013-12-29
        Lusaka      251094     12   30  2013            68.5  2013-12-30
        Lusaka      251095     12   31  2013            69.6  2013-12-31

[1628683 rows x 6 columns]

In [10]:
# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level='City'))

                     Unnamed: 0  Month  Day  Year  AvgTemperature        date
Country     City
Ivory Coast Abidjan       98325      1    1  2000            80.7  2000-01-01
            Abidjan       98326      1    2  2000            78.1  2000-01-02
            Abidjan       98327      1    3  2000            79.0  2000-01-03
            Abidjan       98328      1    4  2000            80.4  2000-01-04
            Abidjan       98329      1    5  2000            79.8  2000-01-05
...                         ...    ...  ...   ...             ...         ...
Switzerland Zurich       965972     12   27  2013            35.2  2013-12-27
            Zurich       965973     12   28  2013            38.4  2013-12-28
            Zurich       965974     12   29  2013            38.8  2013-12-29
            Zurich       965975     12   30  2013            34.1  2013-12-30
            Zurich       965976     12   31  2013            32.9  2013-12-31

[1628683 rows x 6 columns]