# Primeiros Exemplos

In [2]:
print('primeiro programa')
1 \
 + 2

help(print)

primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
1 + 2 + 3
4 + 5 + 6

15

In [4]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [4]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo na minha lingua!')
print("Tb funciona.")
print('Você é ' + 3 * 'muito ' + 'legal!')
#print(3 + '3') -> ambiguidade
print([1, 2, 3])
print({'nome': 'Pedro', 'idade': 22})
print(None)

True
False
2.2
Aqui eu falo na minha lingua!
Tb funciona.
Você é muito muito muito legal!
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [6]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma string!'
print(a)

15.2
Agora sou uma string!

# Comentários

In [1]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o
quanto vai sobrar no
final do mes!
"""

print(salario - despesas)

# print('Fim')
print('Fim de verdade') # comentario aqui tb vale!

994.25
Fim de verdade

# Operadores Aritméticos

In [2]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3)
print(2 ** 8)
print(10 % 3)

a = 12
b = a # Ambos as variáveis possuem o valor 12
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [12]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

# Resposta
percentual_comprometido = despesas / salario * 100
print(percentual_comprometido)

71.18491790925822

# Operadores Relacionais

In [13]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '2'

False

# Operadores de Atribuição

In [14]:
a = 3
a = a + 7
print(a)

# a = 5
a += 5 # a = a + 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [29]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False

# Tabela verdade do OR
True or True
True or False
False or True
False or False

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not not -1
not not True

# Cuidado!
True & False
False | True
True ^ False

# AND Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 10
3 & 2

# OR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 11
3 | 2

# XOR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

True

In [31]:
# Desafio Operadores Lógicos

# Os Trabalhos
trabalho_terca = True
trabalho_quinta = False

"""
- Confirmado os 2: TV 50' + Sorvete
- Confirmado apenas 1: TV 32' + Sorvete
- Nenhum confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}"
     .format(tv_50, tv_32, sorvete, mais_saudavel))

# "{}, {} = {}".format(1, False, 'resultado')

Tv50=False Tv32=True Sorvete=True Saudável=False

'1, False = resultado'

# Operadores Unários

In [4]:
a = 3
# a++
# a += 1
# a
# a--
++a
++a # Não faz nada
-a
+a

not 0
not 1
not -2
not False
not not True

True

# Operadores Ternários

In [10]:
esta_chovendo = True
# Variável define qual posição está concatenada, se for verdadeiro será a segunda e se for falso a primeira
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chovendo])
print('Hoje estou com as roupas ' + ('molhadas.' if esta_chovendo else 'secas.'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

# Mais Operadores

In [16]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

# Lista aponta para um ponto de memória e é por isso que lista_b is lista_c é falso
lista_a is lista_b
lista_b is lista_c # False
lista_a is not lista_c

True

# Builtins

In [22]:
# type()
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

# __builtins__.help(__builtins__.dir)
dir() # mostra o que compõe o escopo global
_ # mostra o último resultado

nome = 'João da Silva'
type(nome)
__builtin__.len(nome)

dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_11',
 '_16',
 '_17',
 '_19',
 '_2',
 '_20',
 '_21',
 '_3',
 '_4',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'esta_chovendo',
 'esta_chuvendo',
 'exit',
 'get_ipython',
 'lista',
 'lista_a',
 'lista_b',
 'lista_c',
 'nome',
 'quit',
 'x',
 'y',
 'z']

# Conversão de Tipos

In [26]:
2 + 3
'2' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

# print(2 + int(3.4))

<class 'int'>
<class 'str'>
5
23

str

# Coerção Automática

In [33]:
10 / 2
type(10 / 2) # Divisão sempre terá como retorno o tipo float
10 / 3
10 // 3
type(10 // 3) # Gerou inteiro
10 // 3.3 # Como um dos números é um float, ele prevalecerá
type(10 // 3.3)
10 / 2.5
2 + True # True = 1
2 + False # False = 1
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [41]:
dir(int)
dir(float)

a = 5
b = 2.5
# Todas as situações, terá como resultado um tipo float
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer() # Não é do tipo int, mas é um inteiro, ou seja, sem casas decimais

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__() # Função interna do int
abs(-2) # Função do __builtins__

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [47]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)
dir()

['Decimal',
 'In',
 'Out',
 '_',
 '_1',
 '_11',
 '_16',
 '_17',
 '_19',
 '_2',
 '_20',
 '_21',
 '_22',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_42',
 '_44',
 '_46',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'decimal',
 'esta_chovendo',
 'esta_chuvendo',
 'exit',
 'get_ipython',
 'getcontext',
 'lista',
 'lista_a',
 'lista_b',
 'lista_c',
 'nome',
 'quit',
 'x',
 'y',
 'z']

# Tipo String

In [55]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] string é imutável

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'

doc = """Texto com múltiplas
... linhas"""
doc
print('Texto com múltiplas\n... linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

Texto com múltiplas
... linhas
Texto com múltiplas
... linhas

'Também é possível\n... com 3 aspas simples'

In [65]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3] # Direita para esquerda
nome[4:] # range de elementos, ele considera como posição inicial o 4
nome[-5:]
nome[:3] # saindo do início, e ele não considera a posição 3
nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
numeros[1::2] # Vai do índice 1 (incluindo ele), pulando duas casas
numeros[::-1] # Inverte a string
numeros[::-2]

'08642'

In [68]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase
frase = frase.upper()
frase

frase.split() # Quebra padrão é o espaço

# dir(str)
help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [74]:
a = '123'
b = ' de Oliveira 4'
a + b
# https://python-course.eu/python3_magic_methods.php
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Lista

In [79]:
lista = []
type(lista)
dir(lista)
# help(list) mutavel, dinâmico, heterogênio
len(lista)
lista.append(1)
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5) # remove o elemento 5 e não o índice
nova_lista
nova_lista.reverse() # altera a lista, diferente da string
nova_lista

['Bia', 'Ana', 1]

In [1]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

1

In [14]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] # Índice 3 não entra
lista[1:-1] # Vai até o último, mas sem incluí-lo
lista[1:] # Vai até o fim
lista[:-1] # Seleciona todos, menos o último
lista[:] # mesma coisa de acessar a lista
lista[::2] # pega só os índices pares
lista[::-1] # Inverte a lista
del lista[2] # apaga o elemento com índice 2
lista
del lista[1:] # apaga todos os elemenos, menos com o índice 1
lista

['Ana']

# Tupla

In [22]:
# Não permite, incluir excluir elemento e nem alterar
tupla = tuple()
tupla = () # Também pode criar tupla de parênteses
type(tupla)
dir(tupla)
#help(tuple) # Sequência imutável
tupla = ('um')
type(tupla) # cria uma string
tupla = ('um',) # para criar apenas com um elemento
type(tupla)
tupla[0]
# tupla[0] = 'novo' # não permite
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1] # acessa último elemento
cores[1:] # Seleciona elementos a partir do índice 1 até o fim

cores.index('amarelo')
cores.count('azul')
len(cores)

4

# Dicionário

In [33]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(pessoa)
len(pessoa) # Quantidade de pares (chave valor)

pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
# pessoa['tags'] # gera erro pelo fato da chave não existir
pessoa.keys() # retorna as chaves
pessoa.values() # retorna os valores
pessoa.get('idade')
pessoa.get('tags') # Não retorna nada quando não tem a chave, mas não gera erro
pessoa.get('tags', []) # Caso a chave não exista, retorna vázio

[]

In [42]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular') # adiciona valor a lista
pessoa
pessoa.pop('idade') # pop lê valor, e remove a chave ao mesmo tempo

pessoa
pessoa.update({'idade': 40, 'Sexo': 'M'}) # insere novos pares de chave e valor no final do dicionário
pessoa
del pessoa['cursos'] # pode excluir a partir do del também
pessoa
pessoa.clear() # limpa o dicionário
pessoa

{}

# Conjunto

In [57]:
# não garante ordem de inserção, não é indexado, ou seja, não consegue acessar o elemento do conjunto pelo índice e por último, 
# o conjunto não aceita repetição
a = {1 , 2, 3}
type(a)
# a[0]
a = set('codddddd3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operações
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2) # A união de forma que persiste em c1
c1
c2 <= c1 # c2 é subconjunto de c1
c1 >= c2 # c1 é um superconjunto de c2

{1, 2, 3} - {2} # contrário da intersecção
c1 - c2
c1 -= {2}
c1

{'c', '3', 'd', 'r', 'o'}
True True

{1, 3}

# Interporlação

In [62]:
# substituir valores dentro da string

from string import Template

nome, idade = 'Ana', 30

# %s substituir valores do tipo string, %d valores do tipo inteiro e %f para float, 
# podendo também definir arrendondamento com . e o número de casas decimais, ex: %.2f
print('Nome: %s Idade: %d' % (nome, idade)) # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade)) # python < 3.6
print(f'Nome: {nome} Idade: {idade}') # python >= 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30